
.center-register-text {
  color: rgba(255, 0, 0, 0.7);
  width: 180px;
  margin: auto;
}

.form-container {
  width: 400px;
  margin: auto;
}


div.ui.top.attached.tabular.menu {
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #00f260;
  background: -webkit-linear-gradient(to right, #0575e6, #00f260);
  background: linear-gradient(
    58deg,
    
    rgb(3, 177, 230) 27%,
    rgba(0, 212, 255, 1) 100%
  ); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.product-card{
  margin-bottom: 20px;
  display: wrap;
  /* overflow: hidden; */
}

.ui.card>.content>.header {
font-size: 1em !important;

overflow: hidden;

}
.ui.card>.extra{
  overflow: hidden;
  font-size: 80%;
  display: inline-block;
  white-space:nowrap;
}



.currentImage{
  width: '20vw';
   height : '20vw';

}

nav{
 background : #5829bb ;
height : 10vh
}
.nav-links{
  display: flex;
  list-style : none
}

.nav-links li a {
  color: white;
  text-decoration: none;
  
}
 
.manage-subscription-image{
  max-width: 100%;
  max-height : auto;
}
